$aqua: #1BBC9D;
$hover_aqua:#7BDAC8;
$dark_aqua: #001738;
$text-color:#424242;
$work:'Work Sans', sans-serif;
$shadow:0px 5px 20px 0px rgba(105, 105, 105, 0.1);
// @font-face {
// 	font-family: "bodoni";
// 	src: url("../fonts/bodoni.otf");
// 	src: url("../fonts/bodoni.eot") format("embedded-opentype"), url("../fonts/bodoni.woff") format("woff"), url("../fonts/bodoni.ttf") format("truetype"), url("../fonts/bodoni.svg") format("svg");
// }
